<app-header></app-header>
<div class="layout-wrapper">
  <router-outlet></router-outlet>
</div>
<footer class="footer shadow-lg fixed-bottom mt-auto py-3 bg-white">
  <div class="container-fluid">
    <div class="row footer-block">
      <div class="footer-block-item">
        <span class="text-muted">Created with</span>
      </div>
      <div class="footer-block-item">
        <span class="text-muted">Address: Šilojų g. 16, Klaipėda, Lithuania, LT-92285</span>
      </div>
      <div class="footer-block-item">
        <a routerLink="/">Terms</a>
        <a routerLink="/">Privacy Policy</a>
        <a href="/">About</a>
      </div>
    </div>
  </div>
</footer>
